[Unit]
Description=CipherDogsBot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Environment=TOKEN=token APPID=appid
ExecStart=/usr/bin/python3 /root/cipher-dogs-bot/src/main.py

[Install]
WantedBy=multi-user.target
